<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Разработка дашборда для топ-менеджмента
      p.text-center.subtitle-1 Минимизирован риск возникновения человеческих ошибок 
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [3, 4],
      beforeAfterList: [
        {
          beforeItem:
            "Отсутствие единообразия отчетности для менеджмента компании ",
          afterItem:
            "Унифицированные отчеты позволили получать объективную ситуацию в различных разрезах "
        },
        {
          beforeItem:
            "Необходимость вовлечения человеческого ресурса для формирования отчета ",
          afterItem: "Отчеты стали формироваться автоматически "
        },
        {
          beforeItem: "Высокая сложность создания новых отчетов ",
          afterItem: "Создавать новые отчеты стало просто "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
