<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система анализа данных, интегрированная с корпоративной системой сбора информации
      p.text-center.subtitle-1 Сигнализирование об отклонениях позволило снизить риск игнорирования изменившихся вводных данных и принимать быстрые управленческие решения
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [3, 5],
      beforeAfterList: [
        {
          beforeItem: "Отсутствие сигнализирования об отклонениях ",
          afterItem:
            "При возникновении аномальных отклонений система оповещает нужных пользователей"
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
