<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система мониторинга бурения, связанная с телеметрией
      p.text-center.subtitle-1 Избавление от необходимости ручного внесения данных благодаря реализации проекта позволило минимизировать риск 
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [3, 7],
      beforeAfterList: [
        {
          beforeItem:
            "Высокие риски фальсификации данных вследствие ручного внесения ",
          afterItem:
            "Невозможность фальсификации данных, поставляемых в автоматическом режиме "
        },
        {
          beforeItem: "Риск несвоевременной подачи данных ",
          afterItem:
            "Автоматическое внесение данных обусловило снижение риска несвоевременной подачи "
        },
        {
          beforeItem: "Несвоевременное реагирование на критические отклонения ",
          afterItem:
            "При возникновении аномальных отклонений система оповещает нужных пользователей "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
