<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система заявок на закупку
      p.text-center.subtitle-1 Снизился уровень риска возникновения ошибок, связанных с человеческим фактором и неэффективного расходования ресурсов компании как следствие
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [3, 0],
      beforeAfterList: [
        {
          beforeItem:
            "Хранение данных о закупках на локальных компьютерах пользователей ",
          afterItem: "Централизованное хранение данных "
        },
        {
          beforeItem: "Высокие трудозатраты на сбор аналитической информации ",
          afterItem: "Низкие трудозатраты на сбор аналитики "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
