<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система отслеживания статуса задач
      p.text-center.subtitle-1 Снижение риска игнорирования задач руководителя и рост исполнительной дисциплины
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [3, 9],
      beforeAfterList: [
        {
          beforeItem:
            "Невозможность контроля за статусом выполнения поручения ",
          afterItem:
            "Осуществление контроля выполнения поручения руководителя на любом этапе и статусе задачи "
        },
        {
          beforeItem: "Непрозрачность зон ответственности ",
          afterItem:
            "Однозначное определение ответственных за исполнение поручений "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
