<template>
  <svg
    width="21"
    height="22"
    viewBox="0 0 21 22"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.562507 5.63379L7.07545 8.72803C9.24049 9.75732 11.7594 9.75732 13.9244 8.72803L20.4374 5.63379C21.2019 5.27002 21.1829 4.18506 20.4064 3.84814L12.4854 0.411621C11.2194 -0.137207 9.78046 -0.137207 8.51447 0.411621L0.593513 3.84814C-0.182976 4.18506 -0.201958 5.27002 0.562507 5.63379Z"
      fill="#FFC24B"
    />
    <path
      d="M20.4061 9.84814L18.5366 9.03711L13.9241 11.2285C11.7592 12.2573 9.24073 12.2573 7.0752 11.2285L2.46326 9.03711L0.593757 9.84814C-0.183221 10.1851 -0.201714 11.2705 0.562263 11.6338L7.0752 14.7285C9.24073 15.7573 11.7592 15.7573 13.9241 14.7285L20.4371 11.6338C21.2021 11.2705 21.1831 10.1851 20.4061 9.84814Z"
      fill="#FFC24B"
    />
    <path
      d="M18.5366 15.0371L20.4061 15.8481C21.1831 16.1851 21.2021 17.2705 20.4371 17.6338L13.9241 20.7285C11.7592 21.7573 9.24073 21.7573 7.0752 20.7285L0.562263 17.6338C-0.201714 17.2705 -0.183221 16.1851 0.593757 15.8481L2.46326 15.0371L7.0752 17.2285C9.24073 18.2573 11.7592 18.2573 13.9241 17.2285L18.5366 15.0371Z"
      fill="#FFC24B"
    />
  </svg>
</template>
