<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система организации грузоперевозок
      p.text-center.subtitle-1 Минимизация ручного труда в процессе подготовки заявки на грузоперевозки позволила повысить уровень удовлетворенности ответственных сотрудников
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [4, 2],
      beforeAfterList: [
        {
          beforeItem: "Формирование заявок средствами MS Office ",
          afterItem:
            "Стандартизированная форма заявки в электронном виде с предзаполненными полями "
        },
        {
          beforeItem:
            "Отсутствие сводной информации по автомобилям и пунктам назначения ",
          afterItem:
            "Агрегированная отчетность и единая база данных по каждому автомобилю и пункту назначения "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
