<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Визуализация объектов на карте 
      p.text-center.subtitle-1 Визуализация объектов на геокарте улучшило восприятие информации и удобство пользования дополнительными отчетами, основанными на геоданных
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [4, 5],
      beforeAfterList: [
        {
          beforeItem: "Отсутствие функционала визуализации геоданных ",
          afterItem: "Реализован функционал визуализации геоданных "
        },
        {
          beforeItem:
            "Невозможность группировки информации на основе геоданных ",
          afterItem: "Информацию возможно группировать на основе геоданных "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
