<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система сбора и мониторинга показателей
      p.text-center.subtitle-1 Внедрение проекта по автоматизации сбора данных позволило значительно сократить количество ручных отчетов, снизив нагрузку на сотрудников-исполнителей. Оставшиеся отчеты были существенно упрощены
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [4, 4],
      beforeAfterList: [
        {
          beforeItem:
            "Сбор и хранение текущих показателей средствами MS Office ",
          afterItem: "Внесение данных осуществляется в автоматическом режиме "
        },
        {
          beforeItem:
            "Высокая стоимость ведения регулярной отчетности за счет ручного формирования ",
          afterItem:
            "Снижение стоимости ведения отчетности за счет автоматизации "
        },
        {
          beforeItem: "Сложность ведения регулярной отчетности ",
          afterItem: "Простота ведения регулярной отчетности "
        },
        {
          beforeItem:
            "Отсутствие процесса корректировки данных и согласования изменившихся показателей ",
          afterItem:
            "Реализован процесс корректировки данных и согласования изменившихся показателей "
        },
        {
          beforeItem: "Невозможность оперативной подготовки отчетности ",
          afterItem: "Возможность оперативной подготовки отчетности "
        },
        {
          beforeItem:
            "Высокие трудозатраты на формирование новых срезов данных ",
          afterItem: "Низкие трудозатраты на формирование новых срезов данных "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
