<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система проведения тендерных процедур
      p.text-center.subtitle-1 Минимизация ручного труда в части подготовки тендерной документации, а также на этапе сбора потребностей, позволила повысить уровень комфорта ответственных сотрудников
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [4, 1],
      beforeAfterList: [
        {
          beforeItem:
            "Неэффективный сбор потребностей на приобретение позиций, участвующих в тендере ",
          afterItem:
            "Реализован оптимальный процесс сбора потребностей на приобретение позиций для наполнения тендерного задания "
        },
        {
          beforeItem:
            "Возможность ошибок, связанных с человеческим фактором ввиду отсутствия контроля соответствия тендерным требованиям ",
          afterItem:
            "Интеллектуальная система выявления несоответствия тендерным требованиям, сводящая к минимуму риск ошибок "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
