<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система документооборота служебных записок
      p.text-center.subtitle-1 Минимизация ручного труда на подготовку служебных записок и удобный интерфейс
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [4, 9],
      beforeAfterList: [
        {
          beforeItem: "Формирование служебных записок средствами MS Office",
          afterItem:
            "Стандартизированная форма служебной записки в электронном виде с предзаполненными полями "
        },
        {
          beforeItem: "Отсутствие унифицированных шаблонов служебных записок ",
          afterItem: "Разработаны унифицированные шаблоны "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
