<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Разработка дашборда для топ-менеджмента
      p.text-center.subtitle-1 Разработанный дашборд дал руководству инструмент по получению объективных показателей бизнеса, что позволило усилить контрольные меры
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [2, 4],
      beforeAfterList: [
        {
          beforeItem:
            "Отсутствие единообразия отчетности для менеджмента компании ",
          afterItem:
            "Унифицированные отчеты позволили получать объективную ситуацию в различных разрезах "
        },
        {
          beforeItem:
            "Невозможность получения сводных отчетных данных по результатам деятельности компании ",
          afterItem: "Возможность получения сводных отчетных данных "
        },
        {
          beforeItem: "Высокая сложность интерпретации данных ",
          afterItem: "Простота интерпретации данных "
        },
        {
          beforeItem: "Отсутствие регулярно обновляющихся отчетов ",
          afterItem: "Отчеты стали обновляться в режиме реального времени "
        },
        {
          beforeItem: "Высокая сложность создания новых отчетов ",
          afterItem: "Создавать новые отчеты стало просто "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
