<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система анализа данных, интегрированная с корпоративной системой сбора информации
      p.text-center.subtitle-1 Рост уровня контрольных мер, в том числе за счет механизма своевременного оповещения ответственных руководителей об аномальных отклонениях
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [2, 5],
      beforeAfterList: [
        {
          beforeItem: "Отсутствие сигнализирования об отклонениях",
          afterItem:
            "При возникновении аномальных отклонений система оповещает нужных пользователей "
        },
        {
          beforeItem:
            "Невозможность агрегации данных текущего состояния объекта",
          afterItem:
            "Все данные о текущем состоянии объекта можно агрегировать "
        },
        {
          beforeItem:
            "Высокая сложность представления консолидированных данных в различных разрезах ",
          afterItem:
            "Консолидированные данные можно легко формировать вне зависимости от уровня разреза "
        },
        {
          beforeItem:
            "Невозможность сверления отчета до нижнего иерархического уровня ",
          afterItem:
            'Отчеты можно "разворачивать" до любого иерархического уровня '
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
