<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система планирования бурения
      p.text-center.subtitle-1 Появилась возможность быстрого и качественного плана работ с фактически проведенными
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [2, 7],
      beforeAfterList: [
        {
          beforeItem:
            "Отсутствие унифицированной методологии расчетов планирования ",
          afterItem:
            "Создана унифицированная методология расчетов планирования "
        },
        {
          beforeItem:
            "Высокая сложность внесения изменений в методологию расчетов ",
          afterItem:
            "Низкая сложность внесения изменений в методологию расчетов "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
