<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система мониторинга взаимоотношения с государственными органами
      p.text-center.subtitle-1 Получен инструмент объективного контроля текущего состояния дел и статуса запросов контролирующих органов
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [2, 6],
      beforeAfterList: [
        {
          beforeItem:
            "Высокие трудозатраты на контроль за взаимоотношениями с государством в условиях крупного холдинга ",
          afterItem:
            "Взаимоотношения с государством разного характера теперь возможно отслеживать в виде общего отчета с фильтрами по территориальному, ведомственному и хронологическому признаку "
        },
        {
          beforeItem:
            "Риск нарушения установленных законодательством сроков реагирования на запросы государственных органов ",
          afterItem:
            "Минимизация рисков нарушения сроков за счет возможности видеть все запросы, в том числе те, по которым наступает плановая дата ответа "
        },
        {
          beforeItem:
            "Невозможность централизованного мониторинга судебных дел в отношении компаний/холдинга ",
          afterItem:
            "Все судебные дела вне зависимости от аффилированной компании, отображаются в едином списке с возможностью фильтрации по географическому и хронологическому признаку. "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
