<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система заявок на закупку
      p.text-center.subtitle-1 Инструмент отслеживания истории изменений и контроля качества сбора заявок позволил облегчить контрольные процедуры
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [2, 0],
      beforeAfterList: [
        {
          beforeItem:
            "Хранение данных о закупках на локальных компьютерах пользователей ",
          afterItem: "Централизованное хранение данных "
        },
        {
          beforeItem: "Отсутствие средств аналитики ",
          afterItem: "Созданы аналитические средства "
        },
        {
          beforeItem: "Высокие трудозатраты на сбор аналитической информации ",
          afterItem: "Низкие трудозатраты на сбор аналитики "
        },
        {
          beforeItem: "Отсутствие истории прохождения документов ",
          afterItem: "Возможность отследить историю прохждения документов "
        },
        {
          beforeItem: "Невозможность получения актуального статуса документа ",
          afterItem: "Можно получить актуальный статус документа "
        },
        {
          beforeItem: "Невозможность прогнозирования поступления ТМЦ ",
          afterItem: "Возможность прогнозирования поступления ТМЦ "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
