<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система сбора и мониторинга показателей
      p.text-center.subtitle-1 Возможность контролировать историю изменений вводимых значений и отслеживать автора изменений способствовало усилению контроля за деятельностью сотрудников, а автоматизация ввода и проверка дублирующихся значений повысила качество вводимых параметров
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [2, 3],
      beforeAfterList: [
        {
          beforeItem: "Отсутствие истории изменений данных ",
          afterItem: "Возможность отследить историю изменений "
        },
        {
          beforeItem:
            "Высокая стоимость контроля за соблюдением графика предоставления данных ",
          afterItem:
            "Отсутствие необходимости контроля за соблюдением графика предоставления данных за счет автоматизации "
        },
        {
          beforeItem: "Невозможность оперативной подготовки отчетности ",
          afterItem: "Возможность оперативной подготовки отчетности "
        },
        {
          beforeItem:
            "Невозможность однозначной идентификации владельца данных, ответственного за внесение в отчет ",
          afterItem:
            "Возможность однозначной идентификации владельца данных, ответственного за внесение в отчет "
        },
        {
          beforeItem: "Наличие дублирующихся данных ",
          afterItem:
            "Проверка на наличие дубликатов и процедура уведомления о возникновении задвоений "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
