<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система отслеживания статуса задач
      p.text-center.subtitle-1 Рост исполнительной дисциплины благодаря возможности объективно оценивать выполняемость поручений
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [2, 9],
      beforeAfterList: [
        {
          beforeItem: "Большая вариативность каналов постановки поручений ",
          afterItem:
            "Постановка поручений с использованием ограниченного количества инструментов, позволяющее упростить контрольные меры "
        },
        {
          beforeItem:
            "Невозможность контроля за статусом выполнения поручения ",
          afterItem:
            "Осуществление контроля выполнения поручения руководителя на любом этапе и статусе задачи"
        },
        {
          beforeItem:
            "Высокая стоимость внедрения KPI относительно реализации планов ",
          afterItem:
            "Возможность внедрения KPI учета скорости реагирования на поручения "
        },
        {
          beforeItem: "Непрозрачность зон ответственности",
          afterItem:
            "Однозначное определение ответсвтвенных за исполнение поручений "
        },
        {
          beforeItem:
            "Высокая длительность переадресации задач, назначенных на подразделение и создания подпоручений",
          afterItem: "Значительное сокращение сроков переадресации задач "
        },
        {
          beforeItem: "Низкая исполнительная дисциплина ",
          afterItem:
            "Возможность объективного контроля со стороны руководства, обусловивший рост исполнительной дисциплины "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
