<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система проведения тендерных процедур
      p.text-center.subtitle-1 Инструмент отслеживания истории изменений и контроля соответствия тендерным требованиям позволил облегчить контрольные процедуры
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [2, 1],
      beforeAfterList: [
        {
          beforeItem: "Отсутствие ценовой истории ",
          afterItem: "Создана возможность контролировать ценовую историю "
        },
        {
          beforeItem: "Отсутствие истории взаимоотношений с контрагентами",
          afterItem:
            "Создана возможность отслеживать историю взаимоотношения с контрагентами "
        },
        {
          beforeItem:
            "Возможность ошибок, связанных с человеческим фактором ввиду отсутствия контроля соответствия тендерным требованиям ",
          afterItem:
            "Интеллектуальная система выявления несоответствия тендерным требованиям, сводящая к минимуму риск ошибок "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
