<template lang="pug">
  v-footer.custom-footer
    v-row(no-gutters).pb-3
      v-col(cols="5")
        v-row(no-gutters)
          v-col(cols="6")
          v-col(cols="6")
            v-row(justify="center")
              v-btn(icon href="https://wa.me/79651829882" target="_blank").custom-btn-size
                v-img(:src="whatsApp")
      v-col(cols="2")
      v-col(cols="5")
        v-row(no-gutters)
          v-col(cols="6")
            v-row(justify="center")
              v-btn(icon href="mailto:IIArtamonov@hsworld.ru").custom-btn-size
                v-img(:src="mail")
          v-col(cols="6")

</template>

<script>
export default {
  computed: {
    whatsApp() {
      return require("static/icons/whatsApp.svg");
    },
    mail() {
      return require("static/icons/mail.svg");
    }
  }
};
</script>

<style lang="stylus" scoped>
.custom-btn-size
  height 46px !important
.custom-footer
  z-index 6
</style>
