<template lang="pug">
  v-container.btn-container
    v-row(justify="center")
      v-col(cols="12").pa-0
        v-row(justify="space-around")
          v-scale-transition(origin="bottom right")
            div.call-to-company-btn.mr-5(v-ripple v-show="expanded")
              a(href="tel:+74996850318") Позвонить нам
              v-img(:src="callToCompany")
          v-scale-transition(origin="bottom left")
            div.request-call-btn.ml-5(v-ripple class="not-shown" v-show="expanded")
              p Заказать звонок
              v-img(:src="requestCall")
    v-row(justify="center")
      v-btn(fab @click="expanded = !expanded").custom-position
        v-img(:src="footerImg")
</template>

<script>
export default {
  data() {
    return {
      expanded: false
    };
  },
  computed: {
    footerImg() {
      return require("static/icons/footer-contact.svg");
    },
    callToCompany() {
      return require("static/icons/call-to-company.svg");
    },
    requestCall() {
      return require("static/icons/request-call.svg");
    }
  }
};
</script>

<style lang="stylus" scoped>
.not-shown
  // display none !important
  opacity 0

.btn-container
  height 34px

.custom-position
  position absolute
  float left
  bottom -25px
  z-index 7
  height 68px
  box-shadow none

.custom-position::before
  background-color transparent
</style>
