<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система организации грузоперевозок
      p.text-center.subtitle-1 Повысилась эффективность доставки грузов за счет создания унифицированной формы заявки, воркфлоу передачи заказа от заявителя конечному исполнителю и интеллектуальной системы логистики
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [0, 2],
      beforeAfterList: [
        {
          beforeItem: "Формирование заявок средствами MS Office ",
          afterItem:
            "Стандартизированная форма заявки в электронном виде с предзаполненными полями "
        },
        {
          beforeItem: "Неэффективная организация логистики ",
          afterItem:
            "Разработана система логистики, учитывающая количество позиций к доставке и вероятные маршруты "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
