<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система коммуникаций
      p.text-center.subtitle-1 Сократилось время взаимодействия между подразделениями, в том числе за счет реализации внутреннего чата
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [0, 3],
      beforeAfterList: [
        {
          beforeItem:
            " Отсутствие единой базы корпоративных контактов в рамках компании/холдинга ",
          afterItem: "Сформирована регулярно обновляющаяся база сотрудников "
        },
        {
          beforeItem:
            "Невозможность оперативного разрешения конфликтных ситуаций ",
          afterItem:
            "Конфликтные ситуации можно разрешать с использованием встроенного чата, не отрываясь от производственных процессов "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
