<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система планирования бурения
      p.text-center.subtitle-1 Сократилась продолжительность подготовки плана и его согласование
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [0, 10],
      beforeAfterList: [
        {
          beforeItem:
            "Высокая сложность консолидации плановых документов ввиду отсутствия унификации ",
          afterItem:
            "Унифицированные плановые документы, которые можно с легкостью консолидировать"
        },
        {
          beforeItem:
            "Отсутствие унифицированной методологии расчетов планирования ",
          afterItem:
            "Создана унифицированная методология расчетов планирования "
        },
        {
          beforeItem: "Формирование заявок средствами MS Office ",
          afterItem:
            "Стандартизированная форма заявки в электронном виде с предзаполненными полями "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
