<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система мониторинга взаимоотношения с государственными органами
      p.text-center.subtitle-1 Избавление от необходимости проведения ручного поиска и анализа запросов государственных органов позволило сократить сроки предоставления ответов контролирующим органам
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [0, 8],
      beforeAfterList: [
        {
          beforeItem:
            "Высокие трудозатраты на контроль за взаимоотношениями с государством в условиях крупного холдинга",
          afterItem:
            "Взаимоотношения с государством разного характера теперь возможно отслеживать в виде общего отчета с фильтрами по территориальному, ведомственному и хронологическому признаку"
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
