<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система заявок на закупку
      p.text-center.subtitle-1 Сократилось время на всех этапах за счет созданного воркфлоу. Исключено ручное формирование и консолидация отчетности. Ускорилась коммуникация между заявителем и исполнителем.
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [0, 0],
      beforeAfterList: [
        {
          beforeItem: "Формирование заявок на закупку средствами MS Office",
          afterItem:
            "Стандартизированная форма заявки в электронном виде с предзаполненными полями "
        },
        {
          beforeItem: "Высокие трудозатраты на сбор аналитической информации ",
          afterItem: "Низкие трудозатраты на сбор аналитики"
        },
        {
          beforeItem: "Отсутствие системы оповещений пользователей ",
          afterItem:
            "Система в режиме реального времени информирует пользователей "
        },
        {
          beforeItem: "Невозможность получения актуального статуса документа ",
          afterItem: "Можно получить актуальный статус документа "
        },
        {
          beforeItem: "Сложность формирования закупочного бюджета ",
          afterItem:
            "Стандартизированный и облегченный процесс формирования закупочного бюджета "
        },
        {
          beforeItem:
            "Отсутствие взаимосвязи между заявками и системами складского учета ",
          afterItem:
            "Созданы взаимосвязи между заявками на закупку и системами складского учета "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
