// Custom fonts
// Russo One
@font-face
  font-family: russo-one;
  src: url("~static/fonts/russoOne/RussoOne-Regular.ttf");

// Teko
@font-face
  font-family: teko;
  src: url("~static/fonts/teko/Teko-Regular.ttf")

// Classes to apply font
// Russo One
.russo-one
  font-family: russo-one !important

// Teko
.teko
  font-family: teko !important

// Custom vuetify styles for this proj
.custom-v-window-arrows .v-window__prev
  left -15px !important

.custom-v-window-arrows .v-window__next
  right -15px !important

.custom-v-window-arrows .v-window__prev, .custom-v-window-arrows .v-window__next
  background: transparent !important

.custom-v-window-arrows .v-window__prev .v-size--default, .custom-v-window-arrows .v-window__next .v-size--default
  height 36px !important
  width 36px !important

.custom-v-window-arrows .v-window__prev .v-size--default .v-icon, .custom-v-window-arrows .v-window__next .v-size--default .v-icon
  font-size: 24px !important
  color: #DFB13C

.custom-window-text-style
  height 52px
  align-items: center
  display: flex
  justify-content: center

.custom-border
  border-color: rgba(223, 177, 60, 0.2);

.custom-slide-group .v-slide-group__prev .v-icon, .custom-slide-group .v-slide-group__next .v-icon
  color: #DFB13C

.custom-slide-group .v-slide-group__wrapper .v-slide-group__content .v-btn--active::before
  background-color: transparent !important

.not-active-slide-item
  opacity 0.3

.active-slide-item
  opacity 1
  background: transparent !important

.custom-main-height
  height 152px

.custom-list-item-height
  height 52px

.custom-list-item-border
  border-top: 1px solid #DFB13C;
  border-bottom: 1px solid #DFB13C;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #DFB13C;

.no-list-actions .v-list-group .v-list-item__icon .v-icon
  display none

.custom-divider-color
  border-color: rgba(223, 177, 60, 0.2) !important;

.custom-active-divider-color
  border-color: rgba(223, 177, 60, 1) !important;
  box-shadow: 0px 0px 5px rgba(223, 177, 60, 1);

.bottom-app-bar-row
  border-top 1px solid rgba(223, 177, 60, 0.4)
  border-bottom 1px solid rgba(223, 177, 60, 0.4)
  background-color #2c2c2c

.top-nav-bar .v-toolbar__content
  border-top 1px solid rgba(223, 177, 60, 0.4)
  border-bottom 1px solid rgba(223, 177, 60, 0.4)

.custom-info-background
  background-color: #252525

.custom-title
  font-family: russo-one;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 129.19%;
  letter-spacing: 0.02em;

.bottom-slider
  max-height 52px

.slider-text-nowrap
  flex-wrap nowrap
  white-space nowrap

.slider-gradient
  height 48px
  overflow hidden

.not-active
  opacity 0.3

.call-to-company-btn
  position: relative
  height 42px !important
  width 141px !important
  left 0
  bottom: 25px
  border-radius: 18px
  cursor pointer
  z-index 7

.call-to-company-btn a
  position: absolute
  display: block
  color: white !important
  z-index 7
  text-decoration: none
  left 12px
  top 12px
  font-size: 12px

.request-call-btn
  position: relative
  height 42px !important
  width 141px !important
  z-index 2
  left 0
  bottom: 25px
  border-radius: 18px
  transition $primary-transition

.request-call-btn p
  position: absolute
  left 35px
  top 12px
  font-size: 12px

footer
  border: 1px solid rgba(239, 239, 239, 0.15) !important;
  box-sizing: border-box;
  background-color: #2c2c2c