<template lang="pug">
  v-app(:style="{background: $vuetify.theme.themes['dark'].background}")
    v-navigation-drawer(app width="100%" stateless color="primary" dark v-model="showMenu" :src="navDrawerBg")
      v-list-item.custom-list-item-height.custom-list-item-border
        v-list-item-action
          v-btn(icon @click="showMenu = !showMenu").ml-3
            v-img(:src="navDrawerIcon" max-width="22px")
      v-list.no-list-actions
        template(v-for="item in navItems")
          v-list-group(:value="false" )
            template(v-slot:activator)
              v-list-item
                v-list-item-title(@click="").russo-one {{ item.title }}
            template(v-if="item.childs")
              template(v-for="child in item.childs")
                v-list-item(:key="child.title" nuxt :to="child.path" @click="showMenu = !showMenu")
                  v-list-item-icon(v-if="child.path === $route.path") 
                    v-img(:src="activeNavItemIcon")
                  v-list-item-title(:class="child.path === $route.path ? 'accent--text' : 'ml-8'") {{ child.title }}
                v-divider.mr-4.ml-4(:class="child.path === $route.path ? 'custom-active-divider-color' : 'custom-divider-color'")
          v-divider.custom-divider-color.mr-4.ml-4
    v-app-bar(flat dark color="info").top-nav-bar
      v-app-bar-nav-icon(@click.stop="toggleMenu").ml-3
        v-img(:src="appBarIcon" max-width="22px")
      v-container.pa-0
        v-toolbar-items
          v-container.pa-0(@click="pagesGroupSwitch")
            v-window(v-model="pagesSlider" show-arrows center-active continuous dark).custom-v-window-arrows
              v-window-item(v-for="item in navItems" :key="item.title")
                v-row(justify="center")
                  v-col(cols="8" v-ripple).pa-0.custom-window-text-style
                    p.caption.text-center.ma-0.russo-one {{ item.title }}
    v-content.pa-0
      v-container.pt-0.pb-0.custom-info-background
        v-row
          v-col(cols="12").pa-0
            p.text-center.caption.mb-2.mt-2 {{ pageDescription }}
        v-row.bottom-app-bar-row(color="info")
          v-col(cols="12").pa-0
            v-container.pa-0
              v-slide-group(v-model="categoriesSlider" show-arrows mandatory center-active).custom-slide-group
                v-slide-item(v-for="childItem in categoriesSliderItems" :key="childItem.key" v-slot:default="{ active, toggle }")
                  v-row(@click="toggle")
                    v-btn(text block @click="goTo(childItem.path)" :input-value="active" class="not-active-slide-item" active-class="secondary--text active-slide-item").russo-one.ml-2.mr-2 {{ childItem.title }}
      v-container(fluid)
        nuxt
        v-container.pl-5.pr-5
          Techs
      flyingButton
    bottomBar
</template>

<script>
import bottomBar from "~/components/navigation/bottomNavBar";
import flyingButton from "~/components/navigation/flyingButton";
import Techs from "~/components/pages/techs";

export default {
  components: {
    bottomBar,
    flyingButton,
    Techs
  },
  data() {
    return {
      sliders: [],
      showMenu: false,
      pagesSlider: 0,
      categoriesSlider: 0,
      navItems: [],
      categoriesSliderItems: [],
      modelField: ""
    };
  },

  computed: {
    activeNavItemIcon() {
      return require("static/icons/active-nav-bar.svg");
    },
    navDrawerIcon() {
      return require("static/icons/apps/white.svg");
    },
    appBarIcon() {
      return require("static/icons/apps/gold.svg");
    },
    navDrawerBg() {
      return require("static/icons/nav_drawer_bg.svg");
    },
    pageDescription() {
      return this.navItems[this.pagesSlider].description;
    }
  },

  created() {
    this.navItems = this.$store.getters["getNavItems"];
    this.navItems.map(item => {
      item.childs.map(child => {
        if (
          child.path === this.$route.path ||
          child.path + "/" === this.$route.path
        ) {
          this.sliders = child.sliders;
        }
      });
    });
  },

  beforeMount() {
    this.pagesSlider = this.sliders[0];
    this.categoriesSliderItems = this.navItems[this.pagesSlider].childs;
    this.categoriesSlider = this.sliders[1];
    this.$bus.$on("index", val => {
      this.pagesSlider = val[0];
      this.categoriesSliderItems = this.navItems[this.pagesSlider].childs;
      this.categoriesSlider = val[1];
    });
  },

  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    },
    goTo(path) {
      this.$nextTick(() => {
        this.$router.push(path);
      });
    },
    pagesGroupSwitch() {
      this.$router.push(this.navItems[this.pagesSlider].childs[0].path);
    }
  }
};
</script>
