<template lang="pug">
  v-container.pa-0
    v-divider.custom-border
    p.custom-title Технологии:
    v-row(no-gutters justify="space-around")
      v-col.pa-1.custom-tech-border(cols="2")
        v-img(:src="chainTech")
      v-col.pa-1.custom-tech-border(cols="2")
        v-img(:src="treeTech")
      v-col.pa-1.custom-tech-border(cols="2")
        v-img(:src="proofTech")
      v-col.pa-1.custom-tech-border(cols="2")
        v-img(:src="transactionTech")
      v-col.pa-1.custom-tech-border(cols="2")
        v-img(:src="networkTech")
</template>

<script>
export default {
  computed: {
    chainTech() {
      return require("static/images/technologies/chainTech.svg");
    },
    treeTech() {
      return require("static/images/technologies/treeTech.svg");
    },
    proofTech() {
      return require("static/images/technologies/proofTech.svg");
    },
    transactionTech() {
      return require("static/images/technologies/transactionTech.svg");
    },
    networkTech() {
      return require("static/images/technologies/networkTech.svg");
    }
  }
};
</script>

<style lang="stylus" scoped>
.custom-tech-border
  border: 1px solid rgba(255, 194, 75, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
</style>
