<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система коммуникаций
      p.text-center.subtitle-1 Проект позволил компании нарастить внутреннюю гибкость и скорость коммуникации между полномочными сотрудниками и, как следствие, возможность оперативно реагировать на новые вызовы
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [1, 2],
      beforeAfterList: [
        {
          beforeItem:
            "Отсутствие единой базы корпоративных контактов в рамках компании/холдинга ",
          afterItem: "Сформирована регулярно обновляющаяся база сотрудников "
        },
        {
          beforeItem:
            "Невозможность оперативного разрешения конфликтных ситуаций ",
          afterItem:
            "Конфликтные ситуации можно разрешать с использованием встроенного чата, не отрываясь от производственных процессов "
        },
        {
          beforeItem:
            "Невозможность однозначной идентификации предмета дискуссии ",
          afterItem: "Возможность однозначной идентификации предмета дискуссии "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
