<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Разработка дашборда для топ-менеджмента
      p.text-center.subtitle-1 Дашборд, обновляемый в режиме реального времени, позволяет руководству получать объективную оценку показателей и существенно наращивать способность реагировать на новые вызовы
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [1, 4],
      beforeAfterList: [
        {
          beforeItem: "Высокая сложность интерпретации данных ",
          afterItem: "Простота интерпретации данных "
        },
        {
          beforeItem: "Отсутствие регулярно обновляющихся отчетов ",
          afterItem: "Отчеты стали обновляться в режиме реального времени "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
