<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система заявок на закупку
      p.text-center.subtitle-1 Реализованный инструмент  позволил компании форсировать изменения внутренних процессов, основываясь на аналитике и прогнозах
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [1, 0],
      beforeAfterList: [
        {
          beforeItem: "Отправка заявок посредством электронной почты ",
          afterItem:
            "Автоматизированное проведение заявки через установленный воркфлоу "
        },
        {
          beforeItem: "Сложность заведения новых пользователей ",
          afterItem:
            "Стандартизированный и облегченный процесс заведения новых пользователей "
        },
        {
          beforeItem: "Невозможность прогнозирования поступления ТМЦ",
          afterItem: "Возможность прогнозирования поступления ТМЦ "
        },
        {
          beforeItem:
            "Отсутствие взаимосвязи между заявками и системами складского учета ",
          afterItem:
            "Созданы взаимосвязи между заявками на закупку и системами складского учета "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
