<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система отслеживания статуса задач
      p.text-center.subtitle-1 Возможность мониторить поручения, контролировать своевременное их исполнение стало, в том числе, фактором роста гибкости компании и улучшения скорости реагирования на внешние вызовы
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [1, 6],
      beforeAfterList: [
        {
          beforeItem: "Большая вариативность каналов постановки поручений ",
          afterItem:
            "Постановка поручений с использованием ограниченного количества инструментов, позволяющее упростить контрольные меры "
        },
        {
          beforeItem:
            "Высокая длительность переадресации задач, назначенных на подразделение и создания подпоручений ",
          afterItem: "Значительное сокращение сроков переадресации задач "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
