<template lang="pug">
  v-container(fluid dark color="primary").pa-0
    v-container
      p.text-center.custom-title Система проведения тендерных процедур
      p.text-center.subtitle-1 Проект позволил компании оперативно корректировать свои бизнес-процессы, адаптируя их под разнородные тендерные требования
    v-container.pl-5.pr-5
      v-divider.custom-border
      v-row(no-gutters).mt-3
        v-col(cols="6")
          p.custom-title До:
        v-col(cols="6")
          p.custom-title После:
      v-row(v-for="listItem in beforeAfterList" :key="listItem.title")
        v-col(cols="6")
          p.caption - {{ listItem.beforeItem }}
        v-col(cols="6")
          p.caption - {{ listItem.afterItem }}
</template>

<script>
export default {
  layout: "defaultMobile",
  data() {
    return {
      slidersIndex: [1, 1],
      beforeAfterList: [
        {
          beforeItem: "Отсутствие единой базы контрагентов ",
          afterItem: "Создана единая база контрагентов "
        },
        {
          beforeItem:
            "Возникновение задержек в проведении тендерных процедур на ряде этапов ",
          afterItem:
            "Проведение тендерных процедур без задержек, вызванных ручным процессом участия в процедуре "
        },
        {
          beforeItem: "Длительный срок согласования тендера ",
          afterItem: "Максимально оптимизированный срок согласования тендера "
        }
      ]
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$bus.$emit("index", this.slidersIndex);
    });
  }
};
</script>
